/* FONTS */
@font-face {
  font-family: montserrat-regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

/* BASIC LAYOUT */
* {
  box-sizing: border-box;
}
html {
  font-family: montserrat-regular;
  font-size: 12px;
  color: white;
}

body {
  margin: 0;
}

header {
  background-color: #ff7f00;
}

main {
  background-color: rgb(227, 227, 227);
}

footer {
  background-color: #ff7f00;
  left: 0;
  bottom: 0;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

input {
  padding: 0;
  border: none;
}

select {
  border: none;
}

li:hover {
  box-shadow: inset 0 -2px 0 black;
}

li:hover > * {
  color: black;
}

.main-layout {
  width: calc(100% - 50px);
}

/* HEADER */

.logo {
  width: 130px;
}

.title-nav li > * {
  line-height: 60px;
  padding: 10px;
}

.gallery-link {
  border-right: 1px solid #8a8a8a;
}

/* SEARCH */
/* .search img {
  width: 20px;
} */

/* MAIN GALLERY*/

.img-grid {
  grid-template-columns: repeat(6, auto);
  grid-auto-rows: 15em;
  grid-gap: 10px;
  padding: 10px 0px;
}

.img {
  background-image: url('../img/meme-imgs/1.jpg');
  background-position: center center;
  background-size: cover;
  grid-column: span 1;
  grid-row: span 1;
}

.meme {
  background-position: center center;
  background-size: cover;
  grid-column: span 1;
  grid-row: span 1;
  width: 15em;
}
/* MAIN FOOTER */
.footer-content .logo {
  padding-block-start: 75px;
  padding-block-end: 5px;
}

.footer-content p {
  padding-block-end: 75px;
}

/* MAIN CANVAS */
.editor-container {
  /* margin-block-start: 15px; */
  margin: 14px 0;
  /* justify-content: space-evenly; */
  gap: 100px;
}

.panel {
  width: 100%;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: repeat(2, 40px) 10px repeat(4, 40px);
  grid-gap: 10px;
  grid-template-areas:
    'input input       input       input       input        input       input       '
    '.     up          down        switch      add          remove      .           '
    '.     .           .           .           .            .           .           '
    '.     font-up     font-down   left-align  center-align right-align .           '
    '.     font-family font-family font-family s-color      f-color     .           '
    '.     .           .           .           .            .           .           '
    'save  save        share       share       share        download    download    ';
  justify-content: center;
}

.panel > * {
  border-radius: 10px;
  background-color: white;
}
.panel > *:not(:first-child) {
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat;
}
.txt-input {
  grid-area: input;
  padding-inline-start: 10px;
}

.move-up {
  grid-area: up;
  background-image: url('../img/icons/arrow-up.png');
}

.move-down {
  grid-area: down;
  background-image: url('../img/icons/arrow-down.png');
}

.switch-txt {
  grid-area: switch;
  background-image: url('../img/icons/up-and-down-opposite-double-arrows-side-by-side.png');
}

.add-txt {
  grid-area: add;
  background-image: url('../img/icons/add.png');
}

.delete-txt {
  grid-area: remove;
  background-image: url('../img/icons/trash.png');
}

.font-up {
  grid-area: font-up;
  background-image: url('../img/icons/increase-font.png');
}

.font-down {
  grid-area: font-down;
  background-image: url('../img/icons/decrease-font.png');
}

.left-align {
  grid-area: left-align;
  background-image: url('../img/icons/align-to-left.png');
}
.right-align {
  grid-area: right-align;
  background-image: url('../img/icons/align-to-right.png');
}
.center-align {
  grid-area: center-align;
  background-image: url('../img/icons/center-text-alignment.png');
}

.font-family {
  grid-area: font-family;
  padding-inline-start: 10px;
}

.stroke-color {
  grid-area: s-color;
  background-image: url('../img/icons/text-stroke.png');
}

.font-color {
  grid-area: f-color;
  background-image: url('../img/icons/paint-board-and-brush.png');
}

.color-input {
  width: 3em;
  height: 3em;
  opacity: 0;
}

.editor-link {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px 0px;
  background-color: #ff7f00;
}
.save {
  grid-area: save;
}

.share {
  grid-area: share;
}

.download {
  grid-area: download;
}

/* HELPERS */
.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}
.direction-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.mouse-react {
  cursor: pointer;
}

.grid-one-cell {
  grid-column: span 1;
  grid-row: span 1;
}
