/* FONTS */
@font-face {
  font-family: montserrat-regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

/* BASIC LAYOUT */
* {
  box-sizing: border-box;
}
html {
  font-family: montserrat-regular;
  font-size: 12px;
  color: white;
}

body {
  margin: 0;
}

header {
  background-color: #ff7f00;
}

footer {
  background-color: #ff7f00;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

li:hover {
  box-shadow: inset 0 -2px 0 black;
}

li:hover > * {
  color: black;
}

.main-layout {
  width: calc(100% - 50px);
}

/* HEADER */

.logo {
  width: 130px;
}

.title-nav li > * {
  line-height: 60px;
  padding: 10px;
}

.gallery-link {
  border-right: 1px solid #8a8a8a;
}

/* SEARCH */
.search img {
  width: 20px;
}

/* MAIN GALLERY*/

.img-grid {
  grid-template-columns: repeat(auto-fill, minmax(10px, 170px));
  grid-auto-rows: repeat(auto-fit, minmax(140px, 140px));
  grid-gap: 10px;
}

.img1 {
  background-image: url('../img/meme-imgs/1.jpg');
  background-position: center center;
  background-size: cover;
  width: 170px;
  height: 140px;
}
.img2 {
  background-image: url('../img/meme-imgs/2.jpg');
  background-position: center center;
  background-size: cover;
  width: 170px;
  height: 140px;
}
.img3 {
  background-image: url('../img/meme-imgs/3.jpg');
  background-position: center center;
  background-size: cover;
  width: 170px;
  height: 140px;
}

.img-grid {
  padding: 10px;
}

/* MAIN FOOTER */
.footer-content .logo {
  padding-block-start: 75px;
  padding-block-end: 5px;
}

.footer-content p {
  padding-block-end: 75px;
}

/* MAIN CANVAS */
.panel-1 {
  width: 370px;
  grid-template-columns: 15px 15px repeat(3, 30px);
  grid-template-rows: 30px;
  grid-gap: 10px;
}

.move-up {
  background-image: url('../img/icons/arrow-up.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.move-down {
  background-image: url('../img/icons/arrow-down.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.switch-txt {
  background-image: url('../img/icons/up-and-down-opposite-double-arrows-side-by-side.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.add-txt {
  background-image: url('../img/icons/add.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.delete-txt {
  background-image: url('../img/icons/trash.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* HELPERS */
.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}
.direction-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.mouse-react {
  cursor: pointer;
}
